* text=auto eol=lf
*.sh text eol=lf
*.docx binary
*.pdf binary
*.p12 binary
*.pfx binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.zip binary
